/* line 1, ../sass/modules/main.scss */
.top-img {
  max-width: 200px;
  height: auto;
  position: relative;
  float: right;
}

/* line 7, ../sass/modules/main.scss */
.float-comment {
  position: relative;
  float: left;
}

/* line 11, ../sass/modules/main.scss */
div.float-comment + br {
  clear: both;
}
